@model IEnumerable<TLAS.Models.Shift>

@using ReportViewerForMvc;
@{
    ViewBag.Title = "Shiftwise Loaded Report";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="container">
    <h2>Shiftwise Loaded Report</h2>
    <br/>
    @using (Html.BeginForm("Index", "Shiftwise", FormMethod.Get))
    {

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.First().ID, new SelectList(Model.AsEnumerable(), "ID", "ShiftName"), new { @class = "form-control", @id = "DropDwn_Shift" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.TextBox("ReportDate", "Select Date...", new { @class = "form-control", @id = "txt_Shiftwise" })
                </div>
                <div class="col-md-1 col-lg-pull-1">
                    <button type="submit" class="btn btn-primary">Get Report</button>
                </div>
            </div>

            <div class="form-group">
               
                <div class="col-md-4">
                    @Html.DropDownList("DrpdwnLoadtype", new List<SelectListItem>() { new SelectListItem { Text = "All", Value = "-1" }, new SelectListItem { Text = "BCU Entry", Value = "0" }, new SelectListItem { Text = "Manual Entry", Value = "1" } }, new { @class = "form-control", @id = "DrpdwnLoadtype" })
                </div>
            </div>


            <div class="form-group">

                <div class="col-md-4">
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                </div>
            </div>

        </div>

    }

</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}
<script type="text/javascript">

    $(function () {

        $('#txt_Shiftwise').datepicker({

            changeMonth: true,
            changeYear: true,
            yearRange: "-15:+15"
        });
    });


</script>
